section {
    display: none;
  }
  /* Content */
  main {
  position: absolute;
  left: 35.35%;
  right: 35.35%;
  top: 25.8%;
  bottom: 25.6%;
  }
  
  
  /* Button Primary */
  
  .start-quiz {
  position: absolute;
  left: 43.06%;
  right: 43.06%;
  top: 62.4%;
  bottom: 25.6%;
  }
  
  
  /* Background */
  
  body { position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: #000000;
  border-radius: 5px;
  }
  
  /* Text */
  
  body {
  position: absolute;
  height: 22px;
  left: 25px;
  right: 24px;
  top: calc(50% - 22px/2);
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
  }
  
  
  /* Subtitle */
  
  position: absolute;
  left: 35.35%;
  right: 35.35%;
  top: 40.6%;
  bottom: 42.4%;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  
  color: #000000;
  
  
  
  /* Title */
  
  header {
    position: absolute;
    left: 42.01%;
    right: 41.94%;
    top: 25.8%;
    bottom: 67.4%;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
  }
  /* identical to box height */
  text-align: center;
  
  color: #000000; */
  
  
    /* Your styles should be mobile-first and responsive */
  
  /** 
    * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
    *
    * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
    * */
  